@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Remova padding e margin do html e body */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Boas práticas: box-sizing global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonte + fundo gradiente */
:root {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(135deg, #5A50B3 0%, #874DA2 50%, #B24890 100%);
  color: #5A50B3;
}

/* #app é nosso container principal */
#app {
  display: flex;
  flex-direction: column;
  /* Faz #app ocupar a tela toda */
  min-height: 100vh;

  /* Para centralizar horizontalmente e limitar largura */
  max-width: 700px;
  margin: 0 auto;

  /* Se quiser menos espaço interno, diminua aqui */
  padding: 1rem;
}

/* MAIN cresce para ocupar o espaço antes do footer */
main {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

section{
  margin: auto 0;
}

/* Títulos */
.title {
  color: white;
  margin-top: 0.5rem;
}

h1 {
  margin: 0;
}

/* Footer discreto no final */
footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: white;
}