@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
  font-family: 'Nunito', sans-serif;
  /* Cores da vivo */
  background: linear-gradient(135deg, #5A50B3 0%, #874DA2 50%, #B24890 100%);
  color: #5A50B3;
}
h1{
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  max-width: 700px;
  margin: 0 auto;
}

main{
  text-align: center;
}

.title{
  color: white;
  margin-bottom: 1rem;
}